/* Global styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Roboto", "sans-serif";
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 960px;
}

/* Header component */

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.header--logo {
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.header--logo__link {
    text-decoration: none;
}

.highlight {
    color: #6534ff;
}

.btn {
    padding: .5em 2.5em;
    font-size: .9rem;
    text-decoration: none;
    color: #000;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    text-decoration: underline;
}

.btn--register {
    background-color: #6534ff;
    border: 2px solid #6534ff;
    color: #fff;
    transition: .2s ease;
}

.btn--register:hover {
    background-color: #fff;
    color: #6534ff;
    text-decoration: none;
}

/* Hero component */

.hero {
    padding: 0 2em;
    padding-top: 11em;
    font-size: 1.5rem;
    text-align: center;
    height: 95vh;
}

.hero--title {
    margin-bottom: 1em;
    font-size: 3rem;
}

.hero--subtitle {
    letter-spacing: 1.3px;
    margin-top: .5em;
    margin-bottom: 1em;
    font-weight: 200;
}

.hero--list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.hero--list__item {
    width: 50%;
    font-size: 1rem;
}

/* Email Signup Form component */

.email-form {
    margin-top: .8em;
    display: flex;
    justify-content: center;
}

.email-input {
    width: 60%;
    height: 40px;
    border: 2px solid #6534ff;
    border-radius: 8px;
    font-size: .9rem;
    padding: 0 2em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.email-input::placeholder {
    text-align: center;
}

.email-input:focus {
    outline: none;
}

.btn--register__email {
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

/* About component */

.about-section {
    background-color: #bbc4ef;
    color: #fff;
    padding: 1em 0 30em 0;
}

.about--title {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .2em;
}

.about--scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about--scroll__text {
    font-size: .85rem;
}

.about--scroll__icon {
    width: 2%;
}

/* Login form component */

.form--wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10em auto;
    padding: 5em;
}

.login--title {
    font-size: 5rem;
    text-transform: uppercase;
}

.login--wave__icon {
    margin-left: .4em;
}

.login--form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login--input {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    margin: .2em 0;
    padding: 0 .2em;
}

.login--label {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 900;
}

.login--input__submit {
    width: 40%;
    margin-top: 1em;
    cursor: pointer;
}

/* Register Form component */

.register--title {
    font-size: 5rem;
    text-transform: uppercase;
}

.register--form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Register form Role Picker component */

.role--buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 80%;
    margin: 0 auto;
}

.role--pick {
    padding: 1em;
    cursor: pointer;
    width: 50%;
    font-size: .8rem;
    background-color: #fff;
    border: 2px solid #6534ff;
    margin-bottom: 1em;
    font-weight: 900;
}

.role--pick__active {
    background-color: #6534ff;
    color: #fff;
}

.role--pick:focus {
    outline: none;
}

/* Dashboard */

.dashboard {
    display: flex;
    margin-top: 3em;
}

.dashboard--menu {
    background-color: #6534ff;
    width: 16%;
    height: 90vh;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dashboard--menu__title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1px;
    padding: .65em;
}

.dashboard--menu__link {
    color: #fff;
    opacity: .5;
    text-decoration: none;
    transition: .1s ease;
}

.dashboard--list__item {
    margin-left: .5em;
    font-size: .65rem;
    color: #fff;
    padding: .2em;
    margin-bottom: 1em;
    cursor: pointer;
}

.dashboard--link__icon {
    padding: .5em;
}

.dashboard--menu__project {
    margin-left: 1em;
}

.dashboard--menu__link:hover {
    opacity: 1;
}

.revision-list {
    width: 80%;
    margin: 0 auto;
}

.revision--list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard--error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.dashboard--error__title {
    font-size: 7rem;
}

.dashboard--error__subtitle {
    font-size: 1.5rem;
    font-weight: 200;
}
 
.error--btn {
    font-size: 1rem;
    margin-top: 2em;
    color: #6534ff;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
}

.revisions--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    padding: 2em;
}

.revision--header__title {
    font-size: .75rem;
}

.project--select {
    font-size: 1rem;
    padding: 1.2em;
}

.add--revision {
    background-color: #6534ff;
    width: 5%;
    height: 5%;
    border-radius: 100%;
    padding: .5em;
    position: relative;
    cursor: pointer;
    transition: .2s ease;
}

.add--revision:hover {
    transform: scale(1.3) rotate(180deg);
}  

.add--revision__icon {
    max-width: 80%;
    margin-left: .3em;
}

/* Revision component */

.revision {
    display: flex;
    padding: 2em;
    border: 1px solid lightgray;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: -4px 0px 4px 1px rgba(147,146,171,0.3);
    transition: .2s ease;
    cursor: pointer;
    margin-top: .3em;
}

.revision:not(:last-of-type) {
    border-bottom: none;
}

.revision:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 20px 3px rgba(147,146,171,0.3);
}

.revision--info__completed {
    padding: .5em;
    border-radius: 20px;
    background-color: rgba(142, 255, 193, .6);
    color: #009C41;
}

.revision--info__working {
    padding: .5em;
    border-radius: 20px;
    background-color: rgba(245, 215, 110, .6);
    color: #e67e22;
}

/* Create revision modal */

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal--element {
    width: 36rem;
    height: 20rem;
    background-color: #fff;
    text-align: center;
}

.modal--header {
    font-size: 2rem;
    color: #000;
}

.modal--form {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

.modal--submitbtn {
    margin: 0 auto;
    padding: .5em 1.5em;
    font-size: 1rem;
    border: 2px solid #6534ff;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s ease;
}

.modal--submitbtn:hover {
    background-color: #6534ff;
    color: #fff;
}

.modal--input {
    width: 50%;
    height: 4rem;
    margin: 0 auto;
    font-size: 2rem;
}

/* Creare project modal */

.modal--label {
    color: #000;
}

.modal--input.project {
    height: 2rem;
}

/* Modal menu */

.modal--menu {
    width: 100%;
    display: flex;
}

.menu--send__invite {
    font-size: 1rem;
    color: #000;
    border: 1px solid #6534ff;
    cursor: pointer;
}

.menu--create__project {
    color: #000;
    border: 1px solid #6534ff;
    cursor: pointer;
    padding: .1em;
}

.modal--menu__active {
    background-color: #6534ff;
    color: #fff;
}

/* Revision info component */

.revision--info__title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.revision--info__content {
    font-size: 1rem;
    margin-bottom: 1em;
}

.comments--header {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.no-comments--messsage {
    font-size: 1rem;
}

/* Comment input component */

.comment--input {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}

.post--comment__btn {
    width: 9rem;
    padding: .5em 2em;
    border: 2px solid #6534ff;
    border-radius: 8px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 900;
    transition: .2s ease;
    color: #6534ff;
    margin: 0 auto;
}

.post--comment__btn:hover {
    background-color: #6534ff;
    color: #fff;
}

.comment--input__field {
    width: 80%;
    margin: 0 auto;
    height: 3rem;
    font-size: 1rem;
    padding: 2em;
    margin-bottom: .5em;
}

/* Comment component */

.comment--box {
    
}