/* Global styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Roboto", "sans-serif";
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 960px;
}

/* Header component */

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.header--logo {
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.header--logo__link {
    text-decoration: none;
}

.highlight {
    color: #6534ff;
}

.btn {
    padding: .5em 2.5em;
    font-size: .9rem;
    text-decoration: none;
    color: #000;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    text-decoration: underline;
}

.btn--register {
    background-color: #6534ff;
    border: 2px solid #6534ff;
    color: #fff;
    transition: .2s ease;
}

.btn--register:hover {
    background-color: #fff;
    color: #6534ff;
    text-decoration: none;
}

/* Hero component */

.hero {
    padding: 0 2em;
    margin-top: 8em;
    margin-bottom: 8em;
    font-size: 1.5rem;
    text-align: center;
}

.hero--title {
    margin-bottom: 1em;
    font-size: 3rem;
}

.hero--subtitle {
    letter-spacing: 1.3px;
    margin-top: .5em;
    margin-bottom: 1em;
    font-weight: 200;
}

.hero--list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.hero--list__item {
    width: 50%;
    font-size: 1rem;
}

/* Email Signup Form component */

.email-form {
    margin-top: .8em;
    display: flex;
    justify-content: center;
}

.email-input {
    width: 60%;
    height: 40px;
    border: 2px solid #6534ff;
    border-radius: 8px;
    font-size: .9rem;
    padding: 0 2em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.email-input::placeholder {
    text-align: center;
}

.email-input:focus {
    outline: none;
}

.btn--register__email {
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

/* About component */

.about-section {
    background-color: #bbc4ef;
    color: #fff;
    margin-top: 15em;
    padding: 1em 0 30em 0;
}

.about--title {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .2em;
}

.about--scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about--scroll__text {
    font-size: .85rem;
}

.about--scroll__icon {
    width: 2%;
}

/* Login form component */

.form--wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10em auto;
    padding: 5em;
}

.login--title {
    font-size: 5rem;
    text-transform: uppercase;
}

.login--wave__icon {
    margin-left: .4em;
}

.login--form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login--input {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    margin: .2em 0;
    padding: 0 .2em;
}

.login--label {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 900;
}

.login--input__submit {
    width: 40%;
    margin-top: 1em;
    cursor: pointer;
}

/* Register Form component */

.register--title {
    font-size: 5rem;
    text-transform: uppercase;
}

.register--form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Register form Role Picker component */

.role--buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.role--pick {
    padding: 1em;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #fff;
    border: 2px solid #6534ff;
    border-radius: 8px;
}